
@import "../../mixins.scss";
.switchingTabs{
    height: 34px;
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    width: 17%;
   margin-top: -21px;
    margin-left: auto; 
   
    @include sm {
        width:  30%;
    }
    @include md {
        width: 27%;
    }
    @include xxl {
        width: 17.5%;
    }
    @include xl{
        width: 17.5%;
    }
    @include lg{
        width: 17.5%;
    }
    @media (min-width: 600px) and (max-width:639px) {
        width: 36%;
      }
   
    @media (min-width: 300px) and (max-width: 599px) {
        width: 56%;
      }
      

    .tabItems{
        display: flex;
        align-items: center;
        height: 30px;
        position: relative;
        .tabItem{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            color: var(--black);
            font-size: 14px;
            position: relative;
            z-index: 1;
            cursor: pointer;
            transition: all ease 0.3s;
            &active{
                color: white;
            }
        }
        .movingBg {
            height: 30px;
            width: 100px;
            border-radius: 15px;
            background-image: var(--gradient);
            position: absolute;
            left: 0;
            transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s; 
    }
}}